body{
    background-image: url("/static/image/background.png");
    background-size: cover;
    color : white;
    font-family: 'Cutive Mono';
    margin : 0;
}

.container{
    margin : 15%;
    text-align: center;
}

.container .card{
    margin : auto;
    padding : 60px;
    background-color: rgba(0, 0, 0, 0.83);
    border : solid black 1px;
    border-radius: 103px;
    text-align: center;
}

.container .card h1{
    font-size: 3rem;
}

.container .card button{
    padding : 20px 30px;
    background-color : #0094FF;
    color : white;
    border-radius: 30px;
    border : solid 1px white;
    font-family: 'Cutive Mono';
    font-size: 1rem;
}

.container .card button:hover{
   background-color: white;
   color : #0094FF;
   font-size: 1.3rem;
   cursor: pointer;
}