body {
        margin: 0;
        font-family: 'Poppins', Arial, sans-serif;
        background-color: #f9f9f9;
        color: #333;
        text-align: center;
        }

        /* Navbar container */
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 2rem;
            background-color: #ffffff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            position: sticky;
            top: 0;
            z-index: 1000;
        }

        /* Logo */
        .navbar .logo {
            font-size: 1.5rem;
            font-weight: bold;
            color: #333;
            text-decoration: none;
        }

        .navbar .logo img {
            max-width : 50px;
            border-radius: 360px;
        }

        /* Navbar links */
        .navbar .nav-links {
            display: flex;
            gap: 3.5rem;
        }

        .navbar .nav-links a {
            text-decoration: none;
            color: #333;
            font-size: 1rem;
            transition: color 0.3s;
        }

        .navbar .nav-links a:hover {
            color: #007BFF;
        }

        /* Social icons */
        .navbar .social-links {
            display: flex;
            gap: 1rem;
        }

        .navbar .social-links img{
            max-width: 40px;
        }

        .navbar .social-links a {
            color: #333;
            font-size: 1.2rem;
            text-decoration: none;
            transition: color 0.3s;
        }

        .navbar .social-links a:hover {
            color: #007BFF;
        }

        /* Hamburger menu */
        .navbar .hamburger {
            display: none;
            flex-direction: column;
            cursor: pointer;
        }

        .navbar .hamburger div {
            width: 25px;
            height: 3px;
            background-color: #333;
            margin: 3px 0;
        }

        .main-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2rem 1rem;
            min-height: 100vh;
        }
        
        /* Logo */
        .main-logo {
            max-width: 250px;
            border-radius: 50%;
            margin-bottom: 1rem;
            .logo-container {
            position: relative; /* Permet de masquer l’animation derrière */
            z-index: 1; /* Au-dessus du canvas */
            background-color: #efefef; /* Fond opaque pour cacher l’animation */
            padding: 1rem; /* Espacement autour du logo */
            text-align: center;
            border-radius: 10px; /* Optionnel : coins arrondis */
            display: inline-block; /* Ajuste la taille au contenu */
            margin: 2rem auto; /* Centre horizontalement */
            }
            
        }
        
        /* Description */
        .description {
            max-width: 600px;
            text-align: center;
            margin-top: 1rem;
        }
        
        .description h1 {
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }
        
        .description p {
            font-size: 1rem;
            line-height: 1.6;
        }
        
        /* Canaux de contact */
        .contact-channels {
            display: flex;
            gap: 1.5rem;
            margin-top: 2rem;
        }
        
        .contact-channels a {
            text-decoration: none;
        }
        
        .contact-channels img {
            max-width: 40px;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }
        
        .contact-channels img:hover {
            transform: scale(1.2);
            opacity: 0.8;
        }

        /* Section À propos de moi */
        .about-section {
            padding: 4rem 1rem;
            background-color: #f7f6f6;
            color: #333;
            text-align: center;
            position: relative;
        }

        .about-section h2 {
            font-size: 2rem;
            margin-bottom: 2rem;
            font-weight: bold;
        }

        .about-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
        }

        .about-text p {
            font-size: 1.1rem;
            line-height: 1.6;
            margin-bottom: 1rem;
            max-width: 800px;
        }

        .about-link {
            color: #007BFF;
            text-decoration: none;
            font-weight: bold;
            transition: color 0.3s ease;
        }

        .about-link:hover {
            color: #0056b3;
        }

        .about-timeline {
            max-width: 800px;
            text-align: left;
        }

        .about-timeline h3 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            font-weight: bold;
            text-align: center;
        }

        .timeline {
            list-style: none;
            padding: 0;
        }

        .timeline li {
            margin-bottom: 1.5rem;
            font-size: 1rem;
            line-height: 1.5;
        }

        .timeline span {
            display: block;
            font-size: 0.9rem;
            font-weight: bold;
            color: #555;
            margin-bottom: 0.5rem;
        }

        #skills-canvas {
            position: fixed; /* Arrière-plan sur toute la page */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1; /* Sous tout le contenu */
            pointer-events: none; /* Pas d'interactions utilisateur */
        }

        /* Section "Mes Projets Code" */
        .projects-section {
            padding: 4rem 1rem;
            background-color: #f9f9f9;
            text-align: center;
            color: #333;
        }

        .projects-section h2 {
            font-size: 2rem;
            margin-bottom: 2rem;
            font-weight: bold;
        }

        .projects-container {
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;
            justify-items: center;
        }
        

        /* Cartes de projets */
        .project-card {
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 1.5rem;
            text-align: left;
            width: 100%;
            max-width: 750px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        /* Responsiveness: Projets sur les petits écrans */
        @media (max-width: 768px) {
            .projects-container {
                grid-template-columns: 1fr; /* Afficher une carte par ligne sur les petits écrans */
                margin : 2rem;
            }

            .project-card {
                width: 100%; /* S'assurer que la carte prend toute la largeur disponible */
                max-width: none; /* Enlever la largeur maximale pour les petits écrans */
            }
        }


        .project-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
        }

        /* Titre et étiquettes */
        .project-header {
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
        }

        .project-header h3 {
            font-size: 1.5rem;
            color: #333;
        }

       /* Étiquettes */
        .project-status, .project-type {
            font-size: 0.85rem;
            font-weight: bold;
            border-radius: 20px;
            padding: 0.3rem 0.8rem;
            text-transform: uppercase;
            border: 2px solid; /* Contour coloré */
            background-color: transparent; /* Intérieur transparent */
            color: inherit; /* Hérite de la couleur de la bordure */
        }

        /* Statuts */
        .status-in-progress {
            border-color: #ff9800; /* Orange pour "En cours" */
            color: #ff9800;
        }

        .status-completed {
            border-color: #4caf50; /* Vert pour "Terminé" */
            color: #4caf50;
        }

        /* Types */
        .type-personal {
            border-color: #03a9f4; /* Bleu clair pour "Personnel" */
            color: #03a9f4;
        }

        .type-professional {
            border-color: #9c27b0; /* Violet pour "Professionnel" */
            color: #9c27b0;
        }

        .type-school {
            border-color: #f44336; /* Rouge pour "Cours" */
            color: #f44336;
        }


        /* Description */
        .project-description {
            font-size: 1rem;
            margin-bottom: 1rem;
            color: #666;
        }

        /* Technologies utilisées */
        .project-technologies img {
            max-width: 40px;
            margin-right: 0.5rem;
            vertical-align: middle;
        }

        /* Lien du projet */
        .project-link {
            display: inline-block;
            margin-top: 1rem;
            color: #007BFF;
            text-decoration: none;
            font-weight: bold;
            transition: color 0.3s ease;
        }

        .project-link:hover {
            color: #0056b3;
        }

        /* Styles spécifiques à la section des projets professionnels */
        /* Section Projets Pro */
        /* Section Projets Professionnels */
        .projects-pro-section {
            padding: 4rem 2rem;
            background-color: #f9f9f9;
            text-align: center;
        }

        .projects-pro-section h2{
            font-size: 2rem;
            margin-bottom: 2rem;
            font-weight: bold;
        }

        .projects-pro-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
        }

        /* Cartes */
        .project-pro-card {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            border-radius: 12px;
            overflow: hidden;
            width: 60%;
            max-width: 800px;
            text-align: left;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .project-pro-card:hover {
            transform: scale(1.03);
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
        }

        /* Images */
        .project-pro-images {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 0.5rem;
            padding: 1rem;
        }

        .project-pro-images img {
            width: 100%;
            height: auto;
            border-radius: 8px;
            object-fit: cover;
        }

        /* Détails */
        .project-pro-details {
            padding: 1.5rem;
        }

        .project-pro-details h3 {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
        }

        .project-pro-status {
            display: inline-block;
            font-size: 0.9rem;
            color: #007bff;
            border: 1px solid #007bff;
            padding: 0.3rem 0.8rem;
            border-radius: 20px;
            margin-bottom: 1rem;
        }

        .project-pro-description {
            font-size: 1rem;
            color: #555;
            margin-bottom: 1.5rem;
        }

        .project-pro-link {
            display: inline-block;
            padding: 0.6rem 1.2rem;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 6px;
            transition: background-color 0.3s ease;
        }

        .project-pro-link:hover {
            background-color: #0056b3;
        }

        @media (max-width: 768px) {
            .project-pro-card {
                width: 100%; /* S'assurer que la carte prend toute la largeur disponible */
            }
        }

        


        /* Expérience professionnelle */
        /* Expérience professionnelle */
        .experience-pro-section {
            margin-top: 4rem;
            text-align: center;
        }

        .experience-pro-section h2 {
            font-size: 2rem;
            margin-bottom: 2rem;
            font-weight: bold;
        }

        .experience-pro-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
        }

        .experience-pro-card {
            display: flex;
            align-items: center;
            background-color: #fff;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            border-radius: 12px;
            overflow: hidden;
            width: 60%;
            max-width: 800px;
            text-align: left;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        @media (max-width: 768px) {
            .experience-pro-card {
                width : 100%;
            }

        }

        .experience-pro-card:hover {
            transform: scale(1.03);
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
        }

        .experience-pro-image-wrapper {
            flex: 1;
            padding: 1rem;
        }

        .experience-pro-image {
            width: 100%;
            height: auto;
            border-radius: 8px;
            object-fit: cover;
        }

        .experience-pro-details {
            flex: 2;
            padding: 1.5rem;
        }

        .experience-pro-details h3 {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
        }

        .experience-pro-details p {
            font-size: 1rem;
            color: #555;
            margin-bottom: 1rem;
        }

        .experience-pro-details ul {
            font-size: 1rem;
            color: #555;
            list-style-type: disc;
            margin-left: 1.5rem;
        }

        /* Section Compétences */
        .skills-section {
            padding: 4rem 2rem;
            background-color: #f4f4f4;
            text-align: center;
        }

        .skills-section h2 {
            font-size: 2rem;
            margin-bottom: 2rem;
            font-weight: bold;
        }

        /* Container des compétences */
        .skills-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
        }

        /* Carte des compétences */
        .skills-category {
            background-color: #fff;
            border: 1px solid #ddd; /* Bordure fine pour un effet minimaliste */
            border-radius: 12px;
            padding: 2rem;
            width: 750px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            text-align: left;
            margin: 0 auto; /* Centre la carte */
            font-family: 'Arial', sans-serif; /* Police minimaliste */
        }

        @media (max-width: 768px) {
            .skills-category {
                width : 80%;
            }

        }

        .skills-category:hover {
            transform: scale(1.03);
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
        }

        /* Titre de chaque catégorie */
        .skills-category h3 {
            font-size: 1.8rem;
            margin-bottom: 1.5rem;
            color: #333;
            font-weight: bold;
        }

        /* Liste des langages */
        .skills-category ul {
            list-style-type: none;
            padding-left: 0;
            font-size: 1rem;
            color: #555;
        }

        /* Élément de chaque langage */
        .skills-category ul li {
            margin-bottom: 1rem;
            text-align: left;
            font-size: 1.1rem;
        }

        /* Responsive : Reduit la largeur de la carte sur les petits écrans */
        @media (max-width: 800px) {
            .skills-category {
                width: 90%;
            }
        }

        .contact-footer {
            background-color: #333;
            color: #fff;
            padding: 3rem 2rem;
            text-align: center;
            font-size: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        
        .contact-footer-content {
            max-width: 1200px;
            width: 100%;
        }
        
        .contact-footer h2 {
            font-size: 2rem;
            margin-bottom: 1rem;
            font-weight: bold;
        }
        
        .contact-footer p {
            font-size: 1rem;
            margin-bottom: 1.5rem;
            color: #bbb;
        }
        
        .contact-links {
            display: flex;
            justify-content: center;
            gap: 2rem;
            flex-wrap: wrap;
            margin-top: 1rem;
        }
        
        .contact-link {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            color: #fff;
            text-decoration: none;
            padding: 0.8rem 1.2rem;
            background-color: #555;
            border-radius: 50px;
            transition: background-color 0.3s, transform 0.3s;
        }
        
        .contact-link:hover {
            background-color: #007bff;
            transform: scale(1.05);
        }
        
        .contact-link i {
            margin-right: 0.8rem;
            font-size: 1.5rem; /* Adjust size for better visibility */
        }
        
        .contact-link:active {
            transform: scale(0.98);
        }
        






        /* Responsive Design */
        @media (max-width: 768px) {
            .about-content {
                flex-direction: column;
                align-items: flex-start;
            }

            .about-timeline {
                text-align: center;
            }

            .timeline li {
                font-size: 0.9rem;
            }
        }

        
        /* Responsive Design */
        @media (max-width: 768px) {
            .description h1 {
                font-size: 1.5rem;
            }
        
            .description p {
                font-size: 0.9rem;
            }
        
            .contact-channels img {
                max-width: 35px;
            }
        }

        /* Responsive design */
        @media (max-width: 768px) {
            .navbar .nav-links {
                display: none;
                flex-direction: column;
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                background-color: rgba(255, 255, 255, 0.9);
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                padding: 1rem;
                z-index: 999;
                text-align: center; /* Centre le texte */
                opacity: 0; /* Masque le menu avant l'animation */
                transform: translateY(-10px); /* Ajoute un effet de déplacement */
                transition: opacity 0.3s ease, transform 0.3s ease; /* Animation */
                
            }

            .navbar .nav-links.active {
                display: flex;
                opacity: 1; /* Rétablit la visibilité */
                transform: translateY(0); /* Ramène le menu à sa position initiale */
            }

            .navbar .nav-links a {
                display: block; /* Les liens prennent toute la largeur */
                padding: 0.5rem 0; /* Espacement vertical */
                font-size: 1.2rem; /* Augmente la taille de la police */
            }
            

            .navbar .hamburger {
                display: flex;
            }

            .navbar .hamburger div {
                transition: transform 0.3s ease, background-color 0.3s ease;
            }
            
            .navbar .hamburger.active div:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px); /* Barre supérieure */
            }
            
            .navbar .hamburger.active div:nth-child(2) {
                opacity: 0; /* Barre du milieu devient invisible */
            }
            
            .navbar .hamburger.active div:nth-child(3) {
                transform: rotate(-45deg) translate(5px, -5px); /* Barre inférieure */
            }
        }