body{
    background-image: url("/static/image/background.png");
    background-size: cover;
    color : white;
    font-family: 'Cutive Mono';
    margin : 0;
}

.background-card{
    background-color: rgba(0, 0, 0, 0.83);
    height : 2000%;
    padding-bottom : 500px
}
  
header{
    text-align: right;
    height : 0.2rem;
    margin-top: -10px;
}

header .secondary-button{
    text-align: right;
    margin-right : 2rem;
}

header .secondary-button button{
    background-color : #0094FF;
    padding : 20px 50px;
    color : white;
    font-family: 'Cutive Mono';
    border : solid 1px black;
    border-radius: 0px 0px 15px 15px;
    font-size: 1rem;
}

header .secondary-button button:hover{
    cursor: pointer;
    background-color : #ffffff;
    color : #0094FF;
    border : solid 3px #0094FF;
    font-size: 1.2rem;
}

.secondary-header{
    display : flex;
    flex-wrap : wrap;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}

.secondary-header .return{
    flex : 1;
    width : 90%;
    text-align : center;
    align-items: center;
}

.secondary-header .return a {
    align-items: center;
    text-align: center;
    font-size: 8rem;
    text-decoration: none;
    color : white
}

.secondary-header .return a:hover{
    cursor: pointer;
    color : #0094FF;
}

.secondary-header .title{
    width : 100%;
    flex : 2;
    text-align: left;
    align-items: center;
    margin-left: 18%;
}

.line-header{
    display : flex;
    text-align: center;
    justify-content: center;
}

.line-header .line{
    width : 30%;
    border-top : #0094FF solid 3px;
}

.container{
    margin-top: 5%;
    display : flex;
    flex-wrap : wrap;
}

.container .card{
    background-color: black;
    border : 3px solid #ffffff;
    border-radius: 50px;
    margin-left : 40px;
    margin-top : 20px;
    max-width: 30%;
}

.container .card .header{
    display : flex;
    flex-wrap: wrap;
}

.container .card .header .logo{
    margin-top : 20px;
    width : 30%;
    text-align: center;
    justify-content: center;
}

.container .card .header .logo img{
    border-radius: 30px;
    border : 2px solid #ffffff;
    width : 50%;
}

.container .card .header .title{
    width : 70%;
    text-align: left;
    display : flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container .card .header .title .name{
    font-size : 2rem;
    color : #ffffff;
}

.container .card .header .title .name a{
    text-decoration: none;
    color: #ffffff;
}

.container .card .header .title .name a:hover{
    font-weight: 3rem;
    color : #0094FF;
}

.container .card .header .title .langages{
    text-align: left;
    justify-content: left;
    display: flex;
    flex-direction: row;
}

.container .card .header .title .langages img{
    margin-left: 10px;
    width : 9%;
    border : 1px solid black;
}

.container .card .content{
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
}

.container .card .container-status{
    text-align: center;
    margin-top : 20px;
}

.container .card .container-status .status{
    font-weight: bolder;
}

.container .card .container-status .status a{
    color : white;
    text-decoration: none;
}

.container .card .container-status .status #NotAllowed{
    font-weight: bolder;
    text-shadow: rgb(255, 0, 0) 10px 0 10px;
    color : red;
}

.container .card .container-status .status #NotAllowed{
    font-weight: bolder;
    text-shadow: rgb(255, 0, 0) 10px 0 10px;
}

.container .card .container-status .status #Allowed a:hover{
    color : #0094FF;
}