<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Cutive Mono' rel='stylesheet'>
    <title>PORTEFOLIO - Accueil</title>
    <link href="static/style/index.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="binary-button">
            <a class="text-binary-button" href="mailto:luka.baudrant@gmail.com">CONTACT ME</a>
        </div>
    </header>
    <div class="container">
        <div class="card">
            <div class="column1">
                <div class="icon">
                    <img src="static/image/Kez0X.png" />
                </div>
                <div class="socialsSociaux">
                    <h2>SOCIALS MEDIA</h2>
                    <div class="iconsSocials">
                        <a href="https://www.instagram.com/luka_lcn/"><img style="width : 50px" src="static/image/instagram.png"/></a>
                        <!--Icône de Pixel Perfect sur flaticon https://www.flaticon.com/fr/auteurs/pixel-perfect-->
                        <a href="https://www.linkedin.com/in/luka-baudrant-89799025a/"><img style="width : 50px" src="static/image/linkedin.png"/></a>
                        <!--Icône de riajulislam sur flaticon https://www.flaticon.com/fr/auteurs/riajulislam-->
                        <a href="https://github.com/Kez0X"><img style="width : 50px" src="static/image/github.png"/></a>
                        <!--Icône de vector-stall sur flaticon https://www.flaticon.com/fr/auteurs/vector-stall-->
                    </div>
                </div>
            </div>
            <div class="column2">
                <h1 id="title">BAUDRANT LUKA</h1>
                <h1 id="subtitle">FULL STACK DEV_</h1>
                <div class="text">
                    <p>I'm a Bachelor's student in Computer Science at the University of Lyon 2, 
                        co-founder of the website school.vld-group.com and teacher on the online 
                        course website superprof.fr . <br></br>You can check out my skills & projects directly 
                        on this site.</p>
                </div>
                <div class="button">
                    <button onclick="window.location.href='/aboutme'">MY RESUME</button>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="binary-button">
            <a class="text-binary-button" href="/aboutme">ABOUT ME</a>
        </div>
        <div class="binary-button">
            <a class="text-binary-button" href="/aboutme#skills">SKILLS</a>
        </div>
        <div class="binary-button">
            <a class="text-binary-button" href="projects">PROJECTS</a>
        </div>
    </footer>
</body>
</html>