<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Jacques Francois' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Italiana' rel='stylesheet'>
    <title>PORTEFOLIO - Kez0X</title>
    <link href="static/style/index.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/static/image/Kez0X.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/loading.css') }}">
</head>
<body>
    <div class="loading" id="loadingContainer">
        <div class="terminal-loader" >
            <div class="terminal-header">
                <div class="terminal-title">Status</div>
                <div class="terminal-controls">
                    <div class="control close"></div>
                    <div class="control minimize"></div>
                    <div class="control maximize"></div>
                </div>
            </div>
            <div class="text">Loading...</div>
        </div>
    </div>
    <div class="mobile-menu">
        <span class="material-icons" onclick="toggler()" id="toggler">menu</span>
    </div>
    <div class="menu">
        <div class="menu-container">
            <a href="/" class="logo">
                <img src="../static/image/LogoB.png" alt="">
            </a>
            <ul class="menu-listing">
                <li><a href="/">Me contacter</a></li>
                <li><a href="/">À propos de moi</a></li>
                <li><a href="/">Mes compétences</a></li>
                <li><a href="/">Mes projets</a></li>
                <li><a id="resume" href="/">Résumé</a></li>
            </ul>
        </div>
    </div>
    <div class="presentation-container">
        <div class="presentation-links">
            <div class="presentation-symbole">
                <img src="/static/image/Kez0X.png" />
            </div>
            <div class="presentation-socials">
                <div class="presentation-socials-item">
                    <img src="/static/image/instagram.png"/>
                    <p id="instagram">luka_lcn</p>
                </div>
                <div class="presentation-socials-item">
                    <img src="/static/image/github.png"/>
                    <p id="github">Kez0X</p>
                </div>
                <div class="presentation-socials-item">
                    <img src="/static/image/linkedin.png"/>
                    <p id="linkeldin">Luka Baudrant</p>
                </div>
            </div>
        </div>
        <div class="presentation-description">
            <p id="Hello">Bonjour, mon nom est</p>
            <h1>BAUDRANT LUKA</h1>
            <h2>Je crée des projets pour le web, le back, les applications...</h2>
            <p>Je suis étudiant en licence d'informatique à l'Université Lyon 2, co-fondateur du site <a href="school.vld-group.com" >school.vld-group.com</a>, enseignant sur le site de cours en ligne <a href="superprof.fr">superprof.fr</a> et créateur de solutions numériques pour les particuliers et les entreprises. Vous pouvez consulter mes compétences et mes différents projets directement sur ce site.</p>
            <div class="presentation-projects-link">
                <a href="" >Voir mes projets</a>
            </div>
        </div>

    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Cacher le chargement après 3 secondes (5000 millisecondes)
            setTimeout(function() {
                document.getElementById('loadingContainer').style.display = 'none';
            }, 5000);
        });

        function toggler(){
            const icon = document.querySelector("#toggler")
            const menu = document.querySelector('.menu')
            if (icon.innerHTML == "menu"){
                icon.innerHTML = "close";
                menu.style.transform = "translateX(0%)"
            } else {
                icon.innerHTML = "menu";
                menu.style.transform = "translateX(-100%)"
            }
        }
    </script>
</body>
</html>
