<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORTEFOLIO - Loading</title>
    <link href="static/style/index.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/static/image/Kez0X.ico">
    <link href='https://fonts.googleapis.com/css?family=Cutive Mono' rel='stylesheet'>
</head>
<body>
    <div class="loading">
        <div class="content">
            <h1>MON PORTEFOLIO</h1>
            <h2>BAUDRANT LUKA</h2>
        </div>
        <div class="load">
            <div class="honeycomb">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
        </div>
    </div>
</body>
<script>
    setTimeout("location.href = '/';", 5000);
</script>
</html>