<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Cutive Mono' rel='stylesheet'>
    <title>PORTEFOLIO - Projets</title>
    <link href="/static/style/projects.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/static/image/Kez0X.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/loading.css') }}">
</head>
<body>
    <div class="loading" id="loadingContainer">
        <div class="content">
            <h1>MON PORTEFOLIO</h1>
            <h2>BAUDRANT LUKA</h2>
        </div>
        <div class="load">
            <div class="honeycomb">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
        </div>
    </div>
    <div class="background-card">
        <header>
            <div class="secondary-button">
                <button onclick="window.location.href='mailto: luka.baudrant@gmail.com'">ME CONTACTER</button>
            </div>
        </header>
        <div class="secondary-header">
            <div class="return">
                <a href="/">↑</a>
            </div>
            <div class="title">
                <h1>MES PROJETS</h1>
            </div>
        </div>
        <div class="line-header">
            <div class="line"></div>
        </div>
        <div class="container">
            <div class="card">
                <div class="header">
                    <div class="logo">
                        <img src="/static/image/logopngwhite.png" />
                    </div>
                    <div class="title">
                        <div class="name">
                            <p><a href="{{ url_for('project_page', project_id=1) }}">VLD</a></p>
                        </div>
                        <div class="langages">
                            <img src="/static/image/js.png" />
                            <!--Freepik https://www.freepik.com/?_gl=1*1e3qme0*test_ga*ODY4MTA2ODUyLjE3MDY4NTgyNzE.*test_ga_523JXC6VL7*MTcwNjg3OTYxNi40LjEuMTcwNjg3OTY0Ni4zMC4wLjA.*fp_ga*ODY4MTA2ODUyLjE3MDY4NTgyNzE.*fp_ga_1ZY8468CQB*MTcwNjg3OTYxNi40LjEuMTcwNjg3OTY0Ni4zMC4wLjA.-->
                            <img src="/static/image/html-5.png" />
                            <img src="/static/image/css-3.png" />
                            <img src="/static/image/serveur-sql.png" />
                            <img src="/static/image/ejs.png" />
                            <img src="/static/image/Python.png" />
                            <img src="/static/image/NodeJS.jpg" />

                        </div>
                    </div>
                </div>
                <div class="content">
                    <p>VLD school est un projet de site internet en cours de développement, il proposera 
                        des formations sur des sujets informatiques tel que des cours sur Python, Blender, 
                        etc. Je mène ce projet en équipe avec Vrock691 & Davidbld.</p>
                </div>
                <div class="container-status">
                    <div class="status">
                        <p id="InLoad">En cours de création...</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <div class="logo">
                        <img src="/static/image/VAZY.png" />
                    </div>
                    <div class="title">
                        <div class="name">
                            <p><a href="{{ url_for('project_page', project_id=2) }}" >VAZ-Y</a></p>
                        </div>
                        <div class="langages">
                            <img src="/static/image/flutter.png" />
                            <img src="/static/image/Python.png" />
                            <img src="/static/image/html-5.png" />
                        </div>
                    </div>
                </div>
                <div class="content">
                    <p>Le projet VAZ-Y est un projet d’application utilisant FLUTTER qui permet aux utilisateurs 
                        de commander des recettes en fonctions des aliments qu’ils ont chez eux. Ne fonctionne pas car pas de partenaire...</p>
                </div>
                <div class="container-status">
                    <div class="status">
                        <p id="Allowed"><a href="https://github.com/Kez0X/VAZ-Y" >Code disponible</a></p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <div class="logo">
                        <img src="/static/image/Scrabble.webp" />
                    </div>
                    <div class="title">
                        <div class="name">
                            <p><a href="{{ url_for('project_page', project_id=3) }}" >SCRABBLE</a></p>
                        </div>
                        <div class="langages">
                            <img src="/static/image/Python.png" />
                            <img src="/static/image/html-5.png" />
                        </div>
                    </div>
                </div>
                <div class="content">
                    <p>Le projet SCRABBLE est un projet de création du jeu scrabble avec toutes ses fonctionnalités en python 
                        : vérification des mots, multijoueur, mot tripple, double...</p>
                </div>
                <div class="container-status">
                    <div class="status">
                        <p id="NotAllowed">Code non disponible</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <div class="logo">
                        <img src="/static/image/arbre.jpg" />
                    </div>
                    <div class="title">
                        <div class="name">
                            <p><a href="{{ url_for('project_page', project_id=4) }}" >Simulateur de tournoi</a></p>
                        </div>
                        <div class="langages">
                            <img src="/static/image/Python.png" />
                            <img src="/static/image/html-5.png" />
                        </div>
                    </div>
                </div>
                <div class="content">
                    <p>Le projet simulateur de tournoi est un simulateur de tournoi de foot avec les arbres grâce à python...</p>
                </div>
                <div class="container-status">
                    <div class="status">
                        <p id="Allowed"><a href="https://github.com/Kez0X/Simulateur-Arbres/tree/main" >Code disponible</a></p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <div class="logo">
                        <img src="/static/image/turtle.jpg" />
                    </div>
                    <div class="title">
                        <div class="name">
                            <p><a href="{{ url_for('project_page', project_id=5) }}" >La récursivité avec turtle</a></p>
                        </div>
                        <div class="langages">
                            <img src="/static/image/Python.png" />
                            <img src="/static/image/html-5.png" />
                        </div>
                    </div>
                </div>
                <div class="content">
                    <p>C'est un projet de lycée pour lequel on devait faire des formes grâce à la turtle de python et à la récursivité. Je vous laisse voir par vous même. </p>
                </div>
                <div class="container-status">
                    <div class="status">
                        <p id="Allowed"><a href="https://github.com/Kez0X/Python-Recursivit-" >Code disponible</a></p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <div class="logo">
                        <img src="/static/image/SCO2.svg" />
                    </div>
                    <div class="title">
                        <div class="name">
                            <p><a href="{{ url_for('project_page', project_id=6) }}" >Social CO2</a></p>
                        </div>
                        <div class="langages">
                            <img src="/static/image/flutter.png" />
                            <img src="/static/image/Python.png" />
                            <img src="/static/image/html-5.png" />
                            <img src="/static/image/css-3.png" />
                            <img src="/static/image/serveur-sql.png" />
                            <img src="/static/image/js.png" />
                            <img src="/static/image/ejs.png" />
                            <img src="/static/image/Firebase.png" />

                        </div>
                    </div>
                </div>
                <div class="content">
                    <p>C'est une application et un site web qui permettent de comparer sa production de CO2 avec celle de ses amis.</p>
                </div>
                <div class="container-status">
                    <div class="status">
                        <p id="InLoad">En cours de création...</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <div class="logo">
                        <img src="/static/image/livre.png" />
                    </div>
                    <div class="title">
                        <div class="name">
                            <p><a href="{{ url_for('project_page', project_id=7) }}" >Support de cours</a></p>
                        </div>
                        <div class="langages">
                            <img src="/static/image/Python.png" />
                            <img src="/static/image/html-5.png" />
                            <img src="/static/image/css-3.png" />
                            <img src="/static/image/js.png" />
                        </div>
                    </div>
                </div>
                <div class="content">
                    <p>C'est un site avec un support de cours pour mes élèves de NSI.</p>
                </div>
                <div class="container-status">
                    <div class="status">
                        <p id="Allowed"><a href="https://github.com/Kez0X/SupportCourse" >Code disponible</a></p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <div class="logo">
                        <img src="/static/image/ourson.jpg" />
                    </div>
                    <div class="title">
                        <div class="name">
                            <p><a href="{{ url_for('project_page', project_id=8) }}" >Jeu de l'ourson</a></p>
                        </div>
                        <div class="langages">
                            <img src="/static/image/Python.png" />
                            <img src="/static/image/html-5.png" />
                        </div>
                    </div>
                </div>
                <div class="content">
                    <p>Le jeu de l'ourson, qu'est ce que c'est ? Un ourson, deux chiens, vous êtes l'ourson, l'objectif ne pas vous faire manger :) Bonne chance ! Pour lancer le jeu il faut executer OursonM Ctrl + Shift + E et il faut l'avoir télécharger avec tous les autres fichiers. Ce projet a été intégralement fait en python à partir des graphes et de la gestion des fichiers csv.

                        En espérant que vous apprécirez !
                        </p>
                </div>
                <div class="container-status">
                    <div class="status">
                        <p id="Allowed"><a href="https://github.com/Kez0X/Jeu-de-l-ourson" >Code disponible</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Cacher le chargement après 3 secondes (3000 millisecondes)
            setTimeout(function() {
                document.getElementById('loadingContainer').style.display = 'none';
            }, 3000);
        });
    </script>
</body>

<script>
    "use strict";
    window.addEventListener("DOMContentLoaded", (event) => {
        animate_text();
    });
    // -------------------
    function animate_text() {
        let delay = 300,
            delay_start = 0,
            contents,
            letters;

        document.querySelectorAll("#InLoad").forEach(function (elem) {
            contents = elem.textContent.trim();
            elem.textContent = "";
            letters = contents.split("");
            elem.style.visibility = 'visible';

            letters.forEach(function (letter, index_1) {
                setTimeout(function () {
                    // ---------
                    // effet machine à écrire (SIMPLE)
                    elem.textContent += letter;
                    // ---------
                    // OU :
                    // effet machine à écrire + animation CSS (SPECIAL)
                    /*
                    var span = document.createElement('span');
                    span.innerHTML = letter.replace(/ /,'&nbsp;');
                    elem.appendChild(span);
            */
                    // ---------
                }, delay_start + delay * index_1);
            });
            delay_start += delay * letters.length;
        });
    }
</script>
</html>