<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Cutive Mono' rel='stylesheet'>
    <title>PORTEFOLIO - Project Page</title>
    <link href="/static/style/projects.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/static/image/Kez0X.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/loading.css') }}">
</head>
<body>
    <div class="loading" id="loadingContainer">
        <div class="content">
            <h1>MON PORTEFOLIO</h1>
            <h2>BAUDRANT LUKA</h2>
        </div>
        <div class="load">
            <div class="honeycomb">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
        </div>
    </div>
    <div class="background-card">
        <header>
            <div class="secondary-button">
                <button onclick="window.location.href='mailto: luka.baudrant@gmail.com'">ME CONTACTER</button>
            </div>
        </header>
        <div class="secondary-header">
            <div class="return">
                <a href="/projects">↑</a>
            </div>
            <div class="titleP">
                <div class="projectPageLogos">
                    <img src="/static/image/{{ project_info.Image }}" />
                    <h1>{{ project_info.title }}</h1>
                </div>
            </div>
        </div>
        <div class="line-header">
            <div class="line"></div>
        </div>
        <div class="container">
            <div class="Slides">
                <div class="slideshow-container">
                    <div class="mySlides fade">
                        <img src="{{ url_for('static', filename='image/' + project_info.Image) }}" style="width: 100%;" />
                      </div>
                      {% for picture in project_info.Pictures %}
                      <div class="mySlides fade">
                        <img src="{{ url_for('static', filename='image/' + picture) }}" style="width: 100%;" />
                      </div>
                      {% endfor %}
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                  </div>
                  <br />
                  <div style="text-align: center;">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                  </div>
            </div>
            <div class="contenu">
                <div class="title">
                    <h2>Resumé</h2>
                </div>
                <div class="resume">
                    <p>{{ project_info.description }}</p>
                </div>
                <div class="title">
                    <h2>Langages de programmation utilisés</h2>
                </div>
                <div class="langages">
                    {% for langage, percentage in project_info.langages.items() %}
                        <div class="langues">
                            <p>- {{ langage }}: {{ percentage }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="schemaContainer">
                    {% for langage, percentage in project_info.langages.items() %}
                    <div class="schema">
                        <p>{{ langage }}</p>
                    </div>
                    {% endfor %}
                </div>                
                <div class="title">
                    <h2>Temps de travail : {{ project_info.worktime }}</h2>
                </div>
                <div class="title">
                    <h2>Date de développement : {{ project_info.DevDate }}</h2>
                </div>
                <div class="status">
                    {% if project_info.status.id == 'Allowed' %}
                        <p id="Allowed"><a href="{{ project_info.status.link }}" >{{ project_info.status.text }}</a></p>
                    {% elif project_info.status.id == 'NotAllowed' %}
                        <p id="NotAllowed">{{ project_info.status.text }}</p>
                    {% elif project_info.status.id == 'InLoad' %}
                        <p id="InLoad">{{ project_info.status.text }}</p>
                    {% endif %}
                </div>                
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Cacher le chargement après 3 secondes (3000 millisecondes)
            setTimeout(function() {
                document.getElementById('loadingContainer').style.display = 'none';
            }, 3000);
        });


        document.addEventListener("DOMContentLoaded", function() {
            // ... Votre code existant ...

            // Liste de couleurs
            var colors = ['#d90303', '#0b4b09', '#e62bdd', '#fba00b', '#17aaea'];

            // Fonction pour choisir une couleur aléatoire
            function getRandomColor() {
                var randomIndex = Math.floor(Math.random() * colors.length);
                return colors[randomIndex];
            }

            // Appliquer la couleur de fond aléatoire à l'élément de votre choix
            var randomColor = getRandomColor();
            var schemaElements = document.querySelectorAll('.schemaContainer .schema');

            // Appliquer une couleur aléatoire à chaque élément
            schemaElements.forEach(function(schemaElement) {
                var randomColor = getRandomColor();
                schemaElement.style.backgroundColor = randomColor;
            });
            // ... Votre code existant ...
        });
    </script>

    <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides((slideIndex += n));
    }

    function currentSlide(n) {
        showSlides((slideIndex = n));
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {
        slideIndex = 1;
        }
        if (n < 1) {
        slideIndex = slides.length;
        }
        for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
    </script>   
</body>
</html>